<h1>My Bids</h1>

<!-- Table listing of a users bids -->
<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
    <tr>
      <th>Bid id</th>
      <th>Offer id</th>
      <th>Offer</th>
      <th>Placed by</th>
      <th>Timestamp</th>
      <th>Price</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.id %></td>
        <td><%= bid.offer_id %></td>
        <td><%= bid.offer.car.title %></td>
        <td><%= if bid.placed_by == 1 then 'User' else 'System'  end %></td>
        <td><%= bid.timestamp %></td>
        <td><%= bid.price %></td>
        <td><%= link_to 'Show', bid.offer, class: "uk-button uk-button-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
