
<!-- Display search form for offers -->
<div class="uk-grid">
  <div class="uk-width-medium-1-1">
    <div class="uk-panel uk-panel-box">
      <h3 class="uk-panel-title">Filter</h3>
      <form class="uk-form uk-form-stacked" action="<%= offers_path %>" method="GET">
        <div class="uk-grid">
          <div class="uk-width-1-3">
            <label class="uk-form-label" for="brand">Brand</label>
            <select name="brand" id="brand" class="uk-width-1-1">
              <option value="">--All--</option>
              <% @brands.each do |b| %>
                  <option value="<%= b.id %>"><%= b.title %></option>
              <% end %>
            </select>
          </div>
          <div class="uk-width-1-3">
            <label class="uk-form-label" for="color">Color</label>
            <select name="color" id="color" class="uk-width-1-1">
              <option value="">--All--</option>
              <% @colors.each do |c| %>
                  <option value="<%= c.id %>"><%= c.title %></option>
              <% end %>
            </select>
          </div>
          <div class="uk-width-1-3">
            <label class="uk-form-label" for="type">Type</label>
            <select name="type" id="type" class="uk-width-1-1">
              <option value="">--All--</option>
              <% @types.each do |t| %>
                  <option value="<%= t.id %>"<%= if t.id == params[:type]; ' selected' end %>><%= t.title %></option>
              <% end %>
            </select>
          </div>
        </div>
        <!--<div class="uk-grid">-->
          <!--<div class="uk-width-1-3">-->
            <!--<label class="uk-form-label" for="price">Max. Price</label>-->
            <!--<input id="price" type="text" name="price" class="uk-width-1-1">-->
          <!--</div>-->
          <!--<div class="uk-width-2-3">-->
            <!--<label class="uk-form-label" for="title">Title</label>-->
            <!--<input id="title" type="text" name="title" class="uk-width-1-1">-->
          <!--</div>-->
        <!--</div>-->
        <div class="uk-grid">
          <div class="uk-width-1-1">
            <button class="uk-button uk-button-primary" type="submit">Search</button>
          </div>
        </div>
        <% #This adds the needed field for the CRSF protection to the form %>
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      </form>
    </div>
  </div>
</div>

<!-- Table listing the available offers -->

<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Color</th>
      <th>Start</th>
      <th>End</th>
      <th>Min. Price</th>
      <th>Minimum step</th>
      <th>Current bid</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.car.  title %></td>
        <td><%= offer.car.brand.title %></td>
        <td><%= offer.car.type.title %></td>
        <td><%= offer.car.color.title %></td>
        <td><%= offer.start.strftime(CarTrading::DATETIME_FORMAT) %></td>
        <td><%= offer.end.strftime(CarTrading::DATETIME_FORMAT) %></td>
        <td><%= offer.price %></td>
        <td><%= offer.minimum_step %></td>
        <td><%= offer.get_highest_price %></td>
        <td>
            <%= link_to 'View', offer, class: "uk-button uk-button-small" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--<%= link_to 'New Offer', new_offer_path %>-->
