<h1>My cars</h1>

<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Brand</th>
      <th>Color</th>
      <th>Age</th>
      <th>Mileage</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.title %></td>
        <td><%= car.type.title %></td>
        <td><%= car.brand.title %></td>
        <td><%= car.color.title %></td>
        <td><%= car.age%></td>
        <td><%= car.mileage%></td>
        <td><%= link_to 'Show', car %>
        <%= link_to 'Edit', edit_car_path(car) %>
      	<%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure you want to delete this car?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Register a new car', new_car_path, :class => 'uk-link' %>