<p id="notice"><%= notice %></p>
    
    <div class="uk-grid uk-margin-large-top uk-margin-large-bottom">
    <div class="uk-width-medium-1-10">&nbsp;</div>
    <div class="uk-width-medium-8-10">
    		<div class="uk-panel uk-panel-divider uk-grid">
    			<div class="uk-width-1-1">
	        	<h3 class="uk-panel-title"><%= @car.title %></h3>
	        </div>
    			<div class="uk-panel uk-margin-top uk-width-3-10">
        		<%= image_tag @car.image_url(:thumb) if @car.image? %>
        	</div>
	        <div class="uk-panel uk-margin-top uk-margin-bottom uk-width-7-10">
  	      	<!--h3 class="uk-panel-title">Description</h3-->
    	    		<%= @car.description%>
      	  </div>
        </div>
        <div class="uk-panel uk-clearfix uk-panel-divider">
	        <div class="uk-panel uk-align-left">
  	      	<h3 class="uk-panel-title">Age</h3>
    	    		<%= @car.age%>
      	  </div>
	        <div class="uk-panel uk-align-left uk-margin-left">
  	      	<h3 class="uk-panel-title">Mileage</h3>
    	    	<%= @car.mileage%>
      	  </div>
        	<div class="uk-panel uk-align-left uk-margin-left">
        		<h3 class="uk-panel-title">Type</h3>
	        	<%= @car.type.title%>
  	      </div>
    	    <div class="uk-panel uk-align-left uk-margin-left">
      	  	<h3 class="uk-panel-title">Brand</h3>
        		<%= @car.brand.title%>
	        </div>
  	      <div class="uk-panel uk-align-left uk-margin-left">
    	    	<h3 class="uk-panel-title">Color</h3>
      	  	<%= @car.color.title%>
        	</div>
  	      <div class="uk-panel uk-align-left uk-margin-left">
    	    	<h3 class="uk-panel-title">Owner</h3>
      	  	<%= @car.user.email%>
        	</div>
        </div>
    </div>
    <div class="uk-width-medium-1-10"></div>
</div> 



<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
