<!DOCTYPE html>
<html>
<head>
  <title>CarTrading</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="uk-container uk-container-center">
  <%
    # Commented out so it is easier to see stuff also when not logged in
    #if user_signed_in?
  %>
      <nav class="uk-navbar uk-margin">
        <a href="<%= welcome_index_path %>" class="uk-navbar-brand">CarBay.com</a>
        <ul class="uk-navbar-nav">
          <li<%= if params[:controller] == 'offers'; " class=uk-active" end %>><a href="<%= offers_url %>">Offers</a></li>
          <li<%= if params[:controller] == 'cars'; " class=uk-active" end %>><a href="<%= cars_url %>"><i class="uk-icon-car"></i> My Cars</a></li>
          <li<%= if params[:controller] == 'users' and params[:action] == 'offers'; " class=uk-active" end %>><a href="<%= offers_url %>">My Offers</a></li>
          <li<%= if params[:controller] == 'bids'; " class=uk-active" end %>><a href="<%= bids_url %>">My Bids</a></li>
          <li<%= if params[:controller] == 'users' and params[:action] != 'offers'; " class=uk-active" end %>><a href="<%= users_index_url %>"><i class="uk-icon-user"></i> My Account</a></li>
        </ul>

        <div class="uk-navbar-flip">
          <div class="uk-navbar-content">
          <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'uk-button' %>
          <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'uk-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'uk-link'  %>
          <% end %>
          </div>
        </div>

      </nav>
  <% #end %>

  <% # Display flash messages across the application %>
  <% if flash[:notice] %>
      <div class="uk-alert" data-uk-alert>
        <a href="" class="uk-alert-close uk-close"></a>
        <p><%= flash[:notice] %></p>
      </div>
  <% end %>
  <% if flash[:alert] %>
      <div class="uk-alert uk-alert-danger" data-uk-alert>
        <a href="" class="uk-alert-close uk-close"></a>
        <p><%= flash[:alert] %></p>
      </div>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
